
body{
    font-family: sans-serif;
}
.conteiner-father{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.conteiner{
    width: 700px;
    height: 200px;
    display: flex;
    flex-direction: row;

}

.column-1{
    height: 100%;
    width: 40%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-2{
    height: 100%;
    width: 60%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    
}

.box-1{

    width: 270px;
    height: 180px;
    background-color: red;
    color: white;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px 1px 4px 4px ;

}

.column-3{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-2{
    width: 380px;
    height: 80px;
    background-color: limegreen;
    color: white;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-4{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.column-5{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.column-6{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.box-3{
    height: 80px;
    width: 170px;
    background-color: palevioletred;
    color: white;
    font-size: 40px ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 9px;
}

.box-4{
    height: 35px;
    width: 170px;
    margin: 6px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 26, 255);
    color: white;
}






