.father-content{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    height: 500px;
    width: 350px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-2{
    background-color:lime;
    color: white;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    margin-bottom: 10px;
}

.div-3-4{
    display: flex;
    flex-direction: row;
}

.div-3{
    width: 145px;
    height: 120px;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    color: white;
    margin-right: 5px;
}

.div-1{
    width: 145px;
    height: 120px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    color: white;
    margin-left: 5px;
}

.div4{
    width: 300px;
    height: 90px;
    background-color: blue;
    color: white;
    margin: 10px;
    font-size: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

